<%- model_class = Product -%>
<div class="page-header">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default'  %>
</div>

<dl class="dl-horizontal">
  <dt class="lead"><strong>软件名:</strong></dt>
  <dd class="text-primary lead"><%= @product.name %></dd>
</dl>
<hr/>

<div class="page-header">
  <h1><%=t '.title', :default => "版本号列表" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="8%">版本号</th>
      <th width="7%">是否公开</th>
      <th width="20%" class="text-left">IP白名单</th>
      <th width="50%" class="text-left">版本更新内容</th>
      <th width="15%">操作</th>
    </tr>
  </thead>
  <tbody id="tagsTableTbody">
    <%= render @tags  %>
  </tbody>
</table>

<div class="bs-component">
  <%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to new_tag_path(product_id: @product.id), class: "btn btn-primary f-s-12" do %>
  <i class="fa fa-plus m-r-xs"></i>添加
<% end %>